<div class="layout-root">
  <!-- SIDEBAR -->
  <aside class="sidebar">
    <div class="sidebar-brand">
      <span class="brand-text">SafeBus</span>
      <span class="operator-tag">OPERATOR-01</span>
    </div>

    <nav class="sidebar-nav">
      @for (item of navItems(); track item.route) {
        <a class="nav-item"
           [routerLink]="item.route"
           routerLinkActive="nav-active">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </a>
      }
    </nav>

    <div class="sidebar-bottom">
      <button class="panic-btn" (click)="triggerPanic()">
        <mat-icon>emergency</mat-icon>
        PANIC SIGNAL
      </button>
        <a class="admin-link" routerLink="/admin">
        <mat-icon>admin_panel_settings</mat-icon> IR A ADMINISTRACIÓN
      </a>
      <a class="settings-link" routerLink="/conductor/settings">
        <mat-icon>settings</mat-icon> SETTINGS
      </a>
      <a class="settings-link" routerLink="/conductor/support">
        <mat-icon>help_outline</mat-icon> SUPPORT
      </a>
    </div>
  </aside>

  <!-- MAIN CONTENT -->
  <div class="main-area">
    <!-- TOOLBAR -->
    <header class="toolbar">
      <div class="toolbar-left">
        <span class="toolbar-title">TRANSIT MONITOR v2.4</span>
        <span class="toolbar-sep">|</span>
        <span class="toolbar-unit">UNIT: BUS-7729</span>
      </div>
      <div class="toolbar-right">
        <div class="search-box">
          <mat-icon>search</mat-icon>
          <span class="search-placeholder">SEARCH LOGS...</span>
        </div>
        <mat-icon class="tb-icon">notifications_none</mat-icon>
        <mat-icon class="tb-icon">account_circle</mat-icon>
        <span class="live-badge">SYSTEM_LIVE</span>
      </div>
    </header>

    <main class="content-area">
      <router-outlet />
    </main>
  </div>
</div>
